*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*font-family: 'Chakra Petch', sans-serif;
font-family: 'Jura', sans-serif;
font-family: 'Megrim', cursive;
font-family: 'Orbitron', sans-serif;*/

html{
    color: #555;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    background: linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.0)), url(../../content/corridor.jpg) ;
    background-size:100% 1800px;
    background-position:center;
}
header{
    position:fixed;
    top:0px;
    font-family: 'Orbitron', sans-serif, 'Arial',sans-serif;
    background-color:rgba(0, 0, 0, 0.8);
    width:100%;
    height:100px;
    z-index:2;
}
.logo{
    position:absolute;
    top:30px;
    left:46px;
    width:14%;
}
.links{
    transform:translate(-25px,0px);
}
.mainNav li{
    float:right;
    display:inline-block;
    text-decoration: none;
    margin: 40px 20px;
}
.mainNav li a:link, .mainNav li a:visited{
    color: #fff;
    padding-bottom: 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    transition: border 0.2s, color 0.2s;
    border-bottom: 1.5px solid transparent;
}
.mainNav li a:hover, .mainNav li a:active{
    color: #FFDEAD;
    padding-bottom: 8px;
    border-bottom: 1.5px solid #FFDEAD;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
}

/*CONTENT OF THE CHARACTER CREATION*/
.content{
    margin:120px 40px 20px 40px;
    font-family: 'Chakra Petch', sans-serif;
}

.name {
    width: 25%;
    background-color: #f0f0f0;
    box-shadow:0 0px 10px 6px rgba(10, 156, 245, 0.5);
    border-style: hidden;
    border-radius: 18px;
    padding: 20px;
}
.name p{
  font-size: 50%;
}
.content a:link, .content a:visited{
    color:#b04707;
    text-decoration: none;
}
.content a:hover, .content a:active{
    color:#d96924;
    text-decoration: none;
}
.dropdown{
    padding:12px;
    color: #555867;
}
.dropdownContent{
    display: none;
    position: absolute;
    width:65%;
    height:400px;
    left: 30%;
    z-index: 1;
    background-color: #f0f0f0;
    box-shadow:0 0px 10px 6px rgba(10, 156, 245, 0.5);
    border-style: hidden;
    border-radius: 18px;
    padding: 0px 30px;
}
.dropdownContent ul{
    font-size: 80%;
    margin-top: 20px;
}
.dropdownContent li{
    list-style: upper-roman;
    margin-top: 12px;
}
.dropdownContent p{
    margin-top: 6px;
}
.dropdownContent h1, .dropdownContent h3, .dropdownContent h5{
    color: #555555;
}
.closeBtn{
    position:fixed;
    font-size:60%;
    right: 80px;
}
