*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*font-family: 'Chakra Petch', sans-serif;
font-family: 'Jura', sans-serif;
font-family: 'Megrim', cursive;
font-family: 'Orbitron', sans-serif;*/

html{
    color: #555;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    background:linear-gradient(rgba(255,255,255, 0.08),rgba(255,255,255, 0.13),rgba(255,255,255, 0.18)),url(../content/gambino.png) ;
    background-size:cover
}
header{
    position:fixed;
    top:0px;
    font-family: 'Orbitron', sans-serif, 'Arial',sans-serif;
    background-color:rgba(0, 0, 0, 0.8);
    width:100%;
    height:100px;
}
h3{
    font-size:150%;
}
.logo{
    position:absolute;
    top:30px;
    left:46px;
    width:14%;
}
.links{
    transform:translate(-25px,0px);
}
.mainNav li{
    float:right;
    display:inline-block;
    text-decoration: none;
    margin: 40px 20px;
}
.mainNav li a:link, .mainNav li a:visited{
    color: #fff;
    padding-bottom: 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    transition: border 0.2s, color 0.2s;
    border-bottom: 1.5px solid transparent;
}
.mainNav li a:hover, .mainNav li a:active{
    color: #FFDEAD;
    padding-bottom: 8px;
    border-bottom: 1.5px solid #FFDEAD;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
}

/*CONTENT OF THE CHARACTER CREATION*/
.content{
    margin:100px 40px 20px 40px;
}

.eyeCandy{
    margin:4px;
    padding:25px;
    background-color:#f1f9ed;
    font-family: 'Jura', sans-serif, 'Arial',sans-serif;
    font-size:90%;
    color:black;
    border-style: hidden;
    border-radius: 18px;
    box-shadow:0 12px 12px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}
.eyeCandy p{
    margin-top:12px;
}
.eyeCandy a:link, .eyeCandy a:visited{
    color: #BB3C64;
    padding: 2px;
    text-decoration: none;
    font-size: 90%;
    transition: border 0.2s, color 0.2s;
    border-bottom: 1.5px solid transparent;
}
.eyeCandy a:hover, .eyeCandy a:active{
    color: #BB3C64;
    padding: 2px;
    border-bottom: 1.5px solid #BB3C64;
    text-decoration: none;
    font-size: 90%;
}
.note{
    font-size:70%;
    text-align:right;
}
.dropdown{
    padding:12px;
    color: #BB3C64;
}
.dropdown:hover .dropdownContent {
  display: block;
}
.dropdownContent{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
